/* =========================
   7) Cursores personalizados para cada herramienta
   ========================= */

/* Cursores de pan */
.editor__canvas.is-pan-ready {
  cursor: grab;
}

.editor__canvas.is-panning {
  cursor: grabbing;
}

.editor__canvas.is-pinching {
  cursor: zoom-in;
}


