<!-- Base para páginas especiales (creador de mapas, etc) sin sidebar ni footer -->
{% load i18n static %}
{% get_current_language as CURRENT_LANGUAGE %}
<!doctype html>
<html lang="{{ CURRENT_LANGUAGE }}" autocomplete="off">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}TPV{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'ui/css/common.css' %}">
  <link rel="stylesheet" href="{% static 'ui/css/componentes/topbar.css' %}">
  {% block extra_css %}{% endblock %}
</head>

<body>
  <div class="app">
    {% include "ui/componentes/topbar.html" %}

    <main class="main main--padding-14">
      {% block content %}{% endblock %}
    </main>

    <form id="langForm" action="{% url 'set_language' %}" method="post" class="hidden">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.get_full_path }}">
      <input type="hidden" name="language" id="langInput">
    </form>
  </div>

  {% include "ui/componentes/modals_genericos.html" %}
  {% include "ui/componentes/js_i18n_common.html" %}
  <script src="{% url 'javascript-catalog' %}"></script>
  <script src="{% static 'ui/js/i18n.js' %}"></script>
  <script src="{% static 'ui/js/common/utils.js' %}?v=1"></script>
  <script src="{% static 'ui/js/common.js' %}"></script>
  <script src="{% static 'ui/js/common/module_loader.js' %}?v=1"></script>
  <script src="{% static 'ui/js/modals.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
